<%= form_with(model: tweet, data: {remote: true}) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
    <span>0 characters</span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
