<%= form_with(model: tweet, class: local_assigns[:class], data: {remote: true, controller: "tweet-form", target: "inline-edit.form"}) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, data: { target: "tweet-form.body", action: "keyup->tweet-form#update" } %>
    <span data-tweet-form-target="characterCount">0 characters</span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
